
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head><h1 style="font-family: Arial; font-size: 64px; text-align: center; color: white;">Strawberry Chocolate Vanilla</h1>
<body>
<p><%= @rock %></p>
</body>
</html>
