
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head><h1 style="font-family: Arial; font-size: 64px; text-align: center; color: white;">Icecream we all scream</h1>
<body>
<p><div style="text-align:center"><a href="/rock" target="_blank"><img src="http://www.icon100.com/up/3932/128/138-Youtube-symbol-play-button-sketch-variant.png" alt="Description of Image"></a></div></p>
<p><%= @welcome %></p>
</body>
</html>


