body {
      background-image: url("http://www.walldevil.com/wallpapers/h15/wallpaper-funny-desktop-background-simple-cream-ice-backgrounds-fun-computer.jpg");
      background-color: purple;
      background-position: right;
      background-repeat: no-repeat;
}
